.form-table{
    border-collapse: collapse;/*各セルの線を重ねて表示します。*/
}
.form-table th{
    padding-left: 10px;
}

/*
他の書き方（nth-of-typeを使わない書き方）があるか？考え中。
*/

/*
アマゾンの設定
フォームテーブル（form-tableクラス）の１番目のテーブル
.form-table:nth-of-type(1)
*/

/*URLParagraph*/
.form-table:nth-of-type(1) tr:nth-of-type(1) {
    border-top: solid 1px darkgray;
    border-right: solid 1px darkgray;
    border-bottom: solid 1px darkgray;
    border-left: solid 1px darkgray;
}

/*CommonRESTParagraph*/
.form-table:nth-of-type(1) tr:nth-of-type(2) {
    border-top: solid 1px darkgray;
    border-right: solid 1px darkgray;
    border-left: solid 1px darkgray;
}
.form-table:nth-of-type(1) tr:nth-of-type(3) {
    border-right: solid 1px darkgray;
    border-left: solid 1px darkgray;
}
.form-table:nth-of-type(1) tr:nth-of-type(4) {
    border-right: solid 1px darkgray;
    border-left: solid 1px darkgray;
}
.form-table:nth-of-type(1) tr:nth-of-type(5) {
    border-right: solid 1px darkgray;
    border-bottom: solid 1px darkgray;
    border-left: solid 1px darkgray;
}

/*ItemHTMLParagraph*/
.form-table:nth-of-type(1) tr:nth-of-type(6) {
    border-top: solid 1px darkgray;
    border-right: solid 1px darkgray;
    border-left: solid 1px darkgray;
}
.form-table:nth-of-type(1) tr:nth-of-type(7) {
    border-top: solid 1px darkgray;
    border-right: solid 1px darkgray;
    border-bottom: solid 1px darkgray;
    border-left: solid 1px darkgray;
}

/*ReviewParagraph*/
.form-table:nth-of-type(1) tr:nth-of-type(8) {
    border-top: solid 1px darkgray;
    border-right: solid 1px darkgray;
    border-left: solid 1px darkgray;
}
.form-table:nth-of-type(1) tr:nth-of-type(9) {
    border-right: solid 1px darkgray;
    border-left: solid 1px darkgray;
}
.form-table:nth-of-type(1) tr:nth-of-type(10) {
    border-right: solid 1px darkgray;
    border-bottom: solid 1px darkgray;
    border-left: solid 1px darkgray;
}

/*ProductTypeParagraph*/
.form-table:nth-of-type(1) tr:nth-of-type(11) {
    border-right: solid 1px darkgray;
    border-bottom: solid 1px darkgray;
    border-left: solid 1px darkgray;
}

/*RESTParagraph*/
.form-table:nth-of-type(1) tr:nth-of-type(12) {
    border-right: solid 1px darkgray;
    border-bottom: solid 1px darkgray;
    border-left: solid 1px darkgray;
}

/*DisplayHTMLPAAPINotAvailableParagraph*/
.form-table:nth-of-type(1) tr:nth-of-type(13) {
    border-right: solid 1px darkgray;
    border-left: solid 1px darkgray;
}
.form-table:nth-of-type(1) tr:nth-of-type(14) {
    border-right: solid 1px darkgray;
    border-bottom: solid 1px darkgray;
    border-left: solid 1px darkgray;
}

/*
楽天の設定
フォームテーブル（form-tableクラス）の2番目のテーブル
.form-table:nth-of-type(2)
*/

/*URLParagraph*/
.form-table:nth-of-type(2) tr:nth-of-type(1) {
    border-top: solid 1px darkgray;
    border-right: solid 1px darkgray;
    border-left: solid 1px darkgray;
}
.form-table:nth-of-type(2) tr:nth-of-type(2) {
    border-right: solid 1px darkgray;
    border-bottom: solid 1px darkgray;
    border-left: solid 1px darkgray;
}

/*CommonRESTParagraph*/
.form-table:nth-of-type(2) tr:nth-of-type(3) {
    border-top: solid 1px darkgray;
    border-right: solid 1px darkgray;
    border-left: solid 1px darkgray;
}
.form-table:nth-of-type(2) tr:nth-of-type(4) {
    border-right: solid 1px darkgray;
    border-left: solid 1px darkgray;
}
.form-table:nth-of-type(2) tr:nth-of-type(5) {
    border-right: solid 1px darkgray;
    border-bottom: solid 1px darkgray;
    border-left: solid 1px darkgray;
}

/*ItemHTMLParagraph*/
.form-table:nth-of-type(2) tr:nth-of-type(6) {
    border-top: solid 1px darkgray;
    border-right: solid 1px darkgray;
    border-left: solid 1px darkgray;
}
.form-table:nth-of-type(2) tr:nth-of-type(7) {
    border-top: solid 1px darkgray;
    border-right: solid 1px darkgray;
    border-bottom: solid 1px darkgray;
    border-left: solid 1px darkgray;
}

/*ReviewParagraph*/
.form-table:nth-of-type(2) tr:nth-of-type(8) {
    border-top: solid 1px darkgray;
    border-right: solid 1px darkgray;
    border-left: solid 1px darkgray;
}
.form-table:nth-of-type(2) tr:nth-of-type(9) {
    border-right: solid 1px darkgray;
    border-left: solid 1px darkgray;
}
.form-table:nth-of-type(2) tr:nth-of-type(10) {
    border-right: solid 1px darkgray;
    border-bottom: solid 1px darkgray;
    border-left: solid 1px darkgray;
}